*,
::after,
::before {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(
		135deg,
		rgb(235, 255, 241),
		rgb(241, 246, 254) 50%,
		rgb(252, 245, 255) 95%
	);
}

.signupForm {
	width: 500px;
	padding: 3rem 1.5rem;
	margin-top: auto;
	margin: 50px auto;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 1rem;
	background-color: white;
	box-shadow: 3px 3px 10px rgb(187, 187, 187);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.form-logo {
	display: flex;
	gap: 10px;
}

.form-logo img {
	width: 50px;
}

.form-logo p {
	font-size: 2.5rem;
	font-weight: 800;
	color: rgb(21, 93, 252);
}

.greetings {
	text-align: center;
}

.greetings h4 {
	font-size: 2rem;
	font-weight: 800;
	color: black;
}

.greetings p {
	color: rgb(85, 85, 85);
	font-size: 1rem;
	font-weight: 550;
	margin-bottom: 2rem;
}

.form-div {
	width: 90%;
	display: flex;
	flex-direction: column;
}

.label-element {
	font-size: 1rem;
	font-weight: 500;
}

.input-element {
	padding: 0.8rem 1.5rem;
	margin-top: 5px;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 12px;
	background-color: rgb(243, 243, 245);
	transition: all 0.15s ease;
}

.input-element:focus {
	outline: none;
	border: 1px solid rgb(134, 134, 134);
	box-shadow: 0 0 0 3px rgb(199, 199, 199);
}

.rememberForgot {
	width: 85%;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 450;
	flex-direction: row !important;
	align-items: center;
	justify-content: space-between;
}

.rememberForgot div {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: start;
	gap: 5px;
}

.rememberForgot div input {
	appearance: none;
	width: 20px;
	height: 20px;
	margin-top: -1px;
	border: 1px solid rgb(197, 197, 197);
	border-radius: 3px;
	background-color: rgb(243, 243, 245);
	cursor: pointer;
}

.rememberForgot div input:checked {
	background-color: black;
	color: white;
}

.rememberForgot div input:checked::after {
	content: "✔";
	color: white;
	font-size: 13px;
	display: block;
	text-align: center;
}

.rememberForgot a {
	width: 50%;
	color: rgb(0, 81, 255);
	text-decoration: none;
	text-align: right;
	cursor: pointer;
}

.rememberForgot a:hover {
	color: rgb(0, 55, 175);
}

.switch-form {
	text-decoration: none;
	color: rgb(0, 81, 255);
	transition: letter-spacing 0.15s;
}

.switch-form:hover {
	color: rgb(0, 55, 175);
}

.login-btn {
	width: 95%;
	height: 50px;
	padding: 0.7rem 1.2rem;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(0, 81, 255);
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.15s;
}

.login-btn:hover {
	background-color: rgb(0, 55, 175);
}
