*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

.icons {
	width: 20px;
}

.sidebar {
	border: 1px solid rgb(229, 231, 235);
	padding-bottom: 5px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: clamp(200px, 19vw, 350px);

	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.sidebar-logo {
	width: 100%;
	padding: 1.7rem 1rem;
	border-bottom: 1px solid rgb(229, 231, 235);

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.sidebar-logo img {
	width: 30px;
}

.sidebar-logo p {
	color: rgb(21, 93, 252);
	font-size: 1.5rem;
	font-weight: 850;
}

.ham-menu {
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: start;
}

.active-menu {
	color: rgb(21, 93, 252) !important;
	background-color: rgb(239, 246, 255) !important;
}

button.menu-item-anchor {
	width: 100%;
	border: none;
	background: none;
	font-family: inherit;
	cursor: pointer;
}

.menu-item-anchor {
	padding: 0.8rem 1rem;
	display: flex;
	gap: 10px;
	align-items: center;

	text-decoration: none;
	color: rgb(54, 65, 83);
	font-size: 1rem;
	font-weight: 650;
	border-radius: 10px;
}

.menu-item-anchor:hover {
	background-color: rgb(249, 250, 251);
}

.menu-item-anchor img {
	width: 22px;
}

.logout-btn {
	width: 100%;
	height: 60px;
	padding: 1rem;
	margin-top: auto;
	border: none;
	border-top: 1px solid rgb(208, 209, 211);
}

.logout-btn button {
	width: 100%;
	padding: 0.5rem 1rem;
	color: black;
	background-color: transparent;
	border: 1px solid rgb(192, 195, 197);
	border-radius: 10px;

	display: flex;
	gap: 20px;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 500;
	cursor: pointer;
	transform: background-color 0.15s ease;
}

.logout-btn button:hover {
	background-color: rgb(233, 235, 239);
}

.dashboard {
	padding: 2rem;
	margin-left: clamp(200px, 19vw, 350px);
	background-color: rgb(252, 250, 250);

	display: flex;
	flex-direction: column;
	gap: 2.2rem;
	align-items: start;
	justify-content: start;
}

.greetings h3 {
	color: black;
	font-size: 1.8rem;
	font-weight: 800;
	margin-bottom: 0.5rem;
}

.greetings p {
	color: rgb(74, 85, 101);
	font-weight: 500;
}

.stats {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}

.stats-cards {
	padding: 1.5rem;
	border: 1px solid rgb(229, 231, 235);
	border-radius: 15px;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	transition: all 0.15s ease;
}

.stats-cards:hover {
	transform: scale(1.02);
	box-shadow: 1px 1px 5px rgb(202, 202, 202);
}

.stats-title {
	font-size: 0.75rem;
	font-weight: 600;
	color: rgb(74, 85, 101);
	margin-bottom: 0.3rem;
}

.stats-numbers {
	color: black;
	font-size: 1.5rem;
	font-weight: 800;
}

.stats-icon {
	width: 50px;
	height: 50px;
	border-radius: 12px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.stats-icon img {
	width: 25px;
}

.upcoming-appointments {
	width: 100%;
	background-color: white;
	padding: 2rem;
	border: 1px solid rgb(229, 231, 235);
	border-radius: 15px;
}

.upcoming-appointments h3 {
	font-size: 1.3rem;
	font-weight: 750;
	margin-bottom: 3.2rem;
}

.app-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.app-list > div {
	background-color: rgb(255, 250, 250);
	padding: 1rem;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.15s ease;
}

.app-list > div:hover {
	background-color: rgb(255, 245, 245);
}

.doc-name-logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.app-list-logo {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgb(219, 234, 254);

	display: flex;
	align-items: center;
	justify-content: center;
}

.doc-name h4 {
	font-size: 1.1rem;
	font-weight: 650;
	margin-bottom: 0.5rem;
}

.doc-name p {
	color: rgb(89, 99, 115);
	font-size: 0.9rem;
}

.app-day-time {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.app-day {
	font-weight: 650;
	margin-bottom: 0.3rem;
}

.app-time {
	color: rgb(89, 99, 115);
	font-size: 0.9rem;
}

.app-status-confirmed {
	padding: 0.3rem 0.5rem;
	background-color: rgb(219, 252, 231);
	border-radius: 12px;
}

.status-confirmed {
	font-size: 0.8rem;
	font-weight: 650;
	color: rgb(28, 130, 54);
}

.app-status-pending {
	padding: 0.3rem 0.5rem;
	background-color: rgb(254, 249, 194);
	border-radius: 12px;
}

.status-pending {
	font-size: 0.8rem;
	font-weight: 650;
	color: rgb(166, 95, 0);
}

.app-status-rejected {
	padding: 0.3rem 0.5rem;
	background-color: rgb(255, 226, 226);
	border-radius: 12px;
}

.status-rejected {
	font-size: 0.8rem;
	font-weight: 650;
	color: rgb(197, 0, 7);
}

.book-chat-cards {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.book-chat-cards div {
	flex: 1;
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2.1rem;
}

.bcc-card {
	color: white;
	padding: 1.7rem 1.5rem;
}

.bcc-card h4 {
	font-size: 1.3rem;
	font-weight: 800;
}

.bcc-card p {
	color: rgb(237, 243, 250);
}

.book-doctor {
	background: linear-gradient(to right, rgb(38, 121, 255), rgb(26, 102, 254));
}

.start-chat {
	background: linear-gradient(to right, rgb(0, 192, 75), rgb(0, 176, 67));
}

.bcc-buttons {
	padding: 0.7rem;
	margin: 0 auto;
	width: 98%;
	border: none;
	border-radius: 10px;
	font-size: 0.95rem;
	font-weight: 600;
	cursor: pointer;
	background-color: rgb(239, 246, 255);
}

.book-now-btn {
	color: rgb(21, 95, 253);
}

.start-chat-btn {
	color: rgb(0, 166, 62);
}

/* Book Appointment Section */
#section-book-appointment .greetings {
	width: 75%;
	margin: auto;
}

.book-appointment-form {
	width: 75%;
	padding: 2rem 1rem;
	margin: auto;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 1rem;
	background-color: white;
	box-shadow: 3px 3px 10px rgb(187, 187, 187);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.form-div {
	width: 95%;
	display: flex;
	flex-direction: column;
}

.label-element {
	font-size: 0.9rem;
	font-weight: 500;
}

.input-element {
	padding: 0.7rem 1.5rem;
	margin-top: 5px;
	font-size: 0.9rem;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 10px;
	background-color: rgb(243, 243, 245);
	transition: all 0.15s ease;
}

.input-element:focus {
	outline: none;
	border: 1px solid rgb(134, 134, 134);
	box-shadow: 0 0 0 3px rgb(199, 199, 199);
}

.book-app-btn {
	width: 95%;
	padding: 0.8rem 1.2rem;
	margin-top: 10px;
	border: none;
	border-radius: 10px;
	background-color: rgb(0, 81, 255);
	color: white;
	font-size: 0.9rem;
	font-weight: 550;
	cursor: pointer;
	transition: background-color 0.15s;
}

.book-app-btn:hover {
	background-color: rgb(0, 55, 175);
}

.booking-tips {
	width: 75%;
	margin: auto;
	padding: 2rem 1rem;
	background-color: rgb(240, 253, 244);
	border: 1px solid rgb(185, 248, 207);
	border-radius: 15px;
}

.tips-icon-text {
	display: flex;
	gap: 5px;
	align-items: center;
	margin-bottom: 1.5rem;
}

.tips-icon-text img {
	width: 35px;
}

.tips-icon-text p {
	color: rgb(1, 102, 48);
	font-size: 1.1rem;
	font-weight: 700;
}

.tips-list {
	margin-left: 0;
  padding-left: 1.5rem;
	color: rgb(1, 102, 48);
	font-size: 0.9rem;
	font-weight: 450;
}

/* My Appointment Section */
.appointments-heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-details h3 {
	font-size: 2rem;
	font-weight: 800;
	color: black;
}

.app-details p {
	font-size: 1rem;
	font-weight: 500;
	color: rgb(74, 85, 106);
}

.book-appointment-btn {
	padding: 0.6rem 1rem;
	color: white;
	background-color: rgb(4, 104, 227);
	border: none;
	border-radius: 8px;
	font-weight: 500;
	font-size: 0.85rem;

	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 0.15s ease;
	cursor: pointer;
}

.book-appointment-btn:hover {
	background-color: rgb(20, 71, 230);
}

.book-appointment-btn img {
	width: 15px;
}

#section-my-appointments .dashboard .stats {
	grid-template-columns: repeat(3, 1fr);
}

#section-my-appointments .dashboard .stats .stats-cards {
	gap: 20px;
	justify-content: start;
}

.my-appointment-table {
	width: 100%;
	padding: 2rem;
	border: 1px solid rgb(229, 231, 235);
	border-radius: 15px;
	background-color: white;
	margin-bottom: 2rem;
}

.my-appointment-table p {
	font-size: 1.4rem;
	font-weight: 800;
}

.app-table {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
}

.app-table th {
	padding: 0.8rem 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	text-align: left;
}

.app-table td {
	padding: 0.5rem ;
	font-size: 0.9rem;
	border-top: 1px solid rgb(213, 215, 219);
}

.app-table tr:hover {
	background-color: rgb(245, 245, 247);
}

.app-table .app-status-confirmed, .app-table .app-status-pending, .app-table .app-status-rejected {
	width: min-content;
}

.app-table .status-confirmed, .app-table .status-pending, .app-table .status-rejected {
	font-size: 0.8rem;
	font-weight: 700;
}

.app-table .app-day-time {
	align-items: start;
}

.app-table .app-day, .app-table .app-time {
	font-size: 0.9rem;
	font-weight: 600;
}

.view-detail-btn {
	padding: 0.5rem 0.8rem;
	font-size: 0.85rem;
	font-weight: 500;
	background-color: white;
	border: 1px solid rgb(229, 231, 235);
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.15s ease;
}

.view-detail-btn:hover {
	background-color: rgb(233, 235, 239);
}

/* ===== Section Toggle (hidden / active) ===== */
.content-section {
	transition: opacity 0.25s ease;
}

.content-section.hidden {
	display: none;
}

.content-section.active {
	display: block;
}
